[color]
  ui = true

[column]
  ui = auto

[alias]
  # Status
  st = status -suno
  sta = status -s

  # Commit
  ci = commit
  ca = commit --amend
  fix = commit --fixup
  inject = commit --amend --no-edit
  wip = commit --no-verify -m\"Work in progress\"

  # Checkout
  co = checkout
  forget = checkout --

  # Log
  l = log --oneline --graph --decorate
  lad = log --all --graph --color --name-status --format='%C(yellow)%h%Creset %cr %C(blue)%cn%Creset -%C(auto)%d%Creset %s'
  la = log --oneline --graph --all --decorate
  las = log --oneline --graph --all --decorate --simplify-by-decoration
  me = log -p --author roelandt

  # Branch
  b = branch -v
  ba = branch -av

  # Diff
  d = diff
  dw = diff --color-words='[[:alnum:]]+|[^[:space:]]'
  dc = diff --cached

  # Push
  force = push --force-with-lease --force-if-includes

  # Rebase
  rb = rebase
  rbc = rebase --continue
  rba = rebase --abort
  rbi = rebase -i --autosquash

  # Cherry-pick
  pk = cherry-pick
  pick = cherry-pick
  pc = cherry-pick --continue
  pa = cherry-pick --abort

  # Blame
  denounce = blame --color-by-age

  # Misc
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
  latest = for-each-ref --sort=-taggerdate --format='%(refname:short)' --count=1

[user]
  name = Jef Roelandt
  email = jroelandt@esprits.co

[core]
  excludesfile = ~/.gitignore
  editor = vim

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[branch]
  autosetuprebase = always
  sort = -committerdate

[rerere]
  enable = true
  autoupdate = true

[cola]
  spellcheck = false

# Utilisé par certains dépôts (notamment dev-servers sur GitHub, et ansible et aws sur GitLab)
# qui possèdent un fichier `.gitattributes` marquant les fichiers vaultés.
[diff "ansible-vault"]
  cachetextconv = false
  textconv = "ansible-vault view"

# Git colorblind spec
[color "diff"]
  meta = yellow bold
  frag = white
  old = red bold
  new = blue bold
  oldMoved = yellow bold ul
  newMoved = blue bold ul
[color "status"]
  added = blue
  changed = yellow
  untracked = red
[color "decorate"]
  head=white
  branch=blue

[init]
  defaultBranch = main

[tag]
  sort = version:refname

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[help]
  autocorrect = prompt

[commit]
  verbose = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[merge]
  conflictstyle = zdiff3

[pull]
  rebase = true
